{% extends "layout.html" %}

{% block content %}
	<div class="col-md-12">
		{% if message %}
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-success">
					{{ message }}
				</div>
			</div>
		</div>
		{% endif %}

		<div class="row">
			<div class="col-md-12">
				<div class="well">
					<h2>Old Computer Podcasts - Find Shows About Computing's Past</h2>
                    
                    <p>The only online repository for audio about antiquated technology. Here you can find all the best podcasts covering the history of computers, their evolution, and where old technology lives in the modern day.</p>
                    
                    <p>Recent episodes:</p>
				</div>
			</div>
		</div>

		<div class="row">
            {% for episode in episodes %}
                {% include "templates/episode.html" ignore missing %}
            {% endfor %}
		</div>
	</div>
{% endblock %}
