<html>
    <head>
        <style>
            audio{
                position: absolute;
                top: 60%;
                left: 50%;
                width: 45%;
            }

            img{
                width: 100%;
            }

            body{
                margin: 0px;
                padding: 0px;
            }
        </style>
    </head>

    <body>
        <img src="/episode/image/{{ guid | urlencode}}">

        <audio controls>
            <source src="{{ media }}">
        </audio>
    </body>
</html>
