{% extends "layout.html" %}

{% block content %}
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div class="well" style="padding:0px">
                    {{ message }}

                    {% include "templates/player.html" %}
				</div>
			</div>
		</div>
    </div>
    
    <script>
        let bandcampLinks = document.getElementsByClassName('bandcamp-link');

        for( var i = 0; i < bandcampLinks.length; i++ ){
            bandcampLinks[i].addEventListener('click', function(e){
                e.stopPropagation();
            });
        }

        Amplitude.init({
            "songs": {{ playlist | dump }}
        });
    </script>
{% endblock %}