{% extends "layout.html" %}

{% block content %}
<div class="col-md-12">
	<div class="well entry">
		<div class="row">			
			<h2 class="name">{{ name }} (<span class="symbol">{{ symbol }}</span>)</h2>
			<span class="pull-right">
				[<a href="/edit/{{ name | urlencode }}">edit</a>]
			</span>
			<hr>
		</div>			
		
		<div class="values row">
			<div class="row">
				<div class="col-md-6">
					<div>
						<p>
							<b>Value</b>
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div>
						<p>
							<b>Units</b>
						</p>
					</div>
				</div>
			</div>
		
			{% for value in values %}
				<div class="row">
					<div class="col-md-6">
						<div class="value">
							<p>{{ value.value }}</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="units">
							<p>{{ value.units }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		
		<div class="description row">
			<div class="col-md-12">
				<p>
					<b>Description</b>
				</p>
				<p class="description-text">
					{{ description }}
				</p>
			</div>
		</div>

		<div class="tags row">
			<div class="col-md-6">
				<span>
					<b>Tags:</b>	
				</span>
				<span class="tag text-muted">
					{{ tags }}
				</span>
			</div>

			<div class="col-md-6 text-right">
				<span class="text-muted">{{ user }}<br>{{ date }}</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}
